

.container .IMG{
    min-height: 50vh;
    width: 100%;
    border-radius: 10px;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .container .IMG::before{
    content: '';
    position: absolute;
    top:0; left:0;
    height: 100%;
    width: 100%;
    background: var(--dark-bg);
    z-index: -1;
 }
.TEXT p{
    color: aliceblue;
    justify-content: center;
    font-size: 1.5rem;
}
.TEXT{
    width: 50%;
}